$background-color: #1b1c1d;

.user-form {
  height: 100vh;
  display: flex;

  &--column {
    &__left {
      background-color: $background-color;
      flex: 1;
    }

    &__right {
      flex: 1;
    }
  }
}