$background-color: #1b1c1d;

.full-height {
  height: 100vh;
}

.margin-auto {
  margin: auto;
}

.font-1 {
  font-size: .75rem !important;
}

//Flex
.f-1 {
  flex: 1;
}

.dark-background {
  background-color: $background-color;
}